.table-zebra thead tr {
  @apply border-0;
}

input.hide-number-arrows::-webkit-outer-spin-button,
input.hide-number-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input.hide-number-arrows[type="number"] {
  -moz-appearance: textfield;
}

.modal {
  @apply z-40;
}

.modal-box {
  @apply border border-gray-600 text-white;
}

.stats {
  @apply flex flex-col bg-transparent lg:flex-row;
}

.stats .stat-value {
  @apply text-lg;
}
