

html {
   font-size: 18px;
}

.btn {
    @apply font-serif;
}

.btn-lg {
    @apply min-h-12 h-12
}

.table-zebra thead tr {
    @apply border-0;
}

.sidebar-menu {
    @apply menu text-base px-0 text-base-content;
}

.sidebar-menu li {
    @apply font-serif my-0.5;
}

.sidebar-menu > li.active {
    @apply bg-gray-800;
}

.sidebar-menu li:hover {
    @apply bg-gray-800;
}

li.sidebar-menu-separator {
    @apply my-4 h-[1px] border-b border-gray-800;
}

.global-loading-indicator {
    @apply fixed top-0 left-0 w-screen h-screen bg-opacity-50 bg-base-100;
    content: "";
}

.global-loading-indicator > .spinner {
    @apply loading loading-ring w-20 fixed top-1/4 left-1/2 -translate-y-1/4 -translate-x-1/2;
}

input.hide-number-arrows::-webkit-outer-spin-button,
input.hide-number-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input.hide-number-arrows[type=number] {
  -moz-appearance: textfield;
}

.toast {
    @apply z-50 whitespace-break-spaces bottom-auto !important;
}

.toast .alert {
    @apply text-left shadow-2xl drop-shadow-2xl border-[3px] rounded-lg bg-slate-800 p-4 lg:p-6 pt-4 lg:min-w-[400px];
}

.toast .alert.alert-success {
    @apply text-white border-success;
}

.toast .alert .title {
    @apply text-lg lg:text-xl font-bold;
}

.toast .close {
    @apply btn btn-sm bg-transparent border-none hover:bg-gray-800 absolute right-4 top-6;
}

.modal-box {
    @apply border border-gray-600 text-white;
}

button[disabled] svg {
    @apply text-gray-600;
}

.stats .stat {
    @apply py-3;
}