@tailwind base;
@tailwind components;
@tailwind utilities;

.table-zebra thead tr {
    @apply border-0
}

.sidebar-menu {
    @apply menu text-base px-0 text-base-content;
}

.sidebar-menu li {
    @apply my-0.5;
}

.sidebar-menu > li.active {
    @apply bg-gray-800;
}

.sidebar-menu li:hover {
    @apply bg-gray-800;
}

li.sidebar-menu-separator {
    @apply my-4 h-[1px] border-b border-gray-800;
}

.global-loading-indicator {
    @apply fixed top-0 left-0 w-screen h-screen bg-opacity-50 bg-base-100;
    content: "";
}

.global-loading-indicator > .spinner {
    @apply loading loading-ring w-20 fixed top-1/4 left-1/2 -translate-y-1/4 -translate-x-1/2;
}

input.hide-number-arrows::-webkit-outer-spin-button,
input.hide-number-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input.hide-number-arrows[type=number] {
  -moz-appearance: textfield;
}